.navigation_container{
    display: flex;
    background-color: lightgrey; 
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    height: 900px;
    padding: 10px;
    margin-top: 0px;

}
.icon_size{
    height:30px;
    width:30px;
    color: black;
    margin: 10px;
}
.link_text_decoration{
    text-decoration: none;
    color: black;
}
